<ng-container [ngSwitch]="attr.widget.name">
  <w-edit 
    *ngSwitchCase="'tableaccess'"
    [column]="attr"
    [widgetValue]="widgetValue"  
    [mode]="mode" 
    (widgetValueChange)="changeval($event)">
  </w-edit>
  <w-edit *ngSwitchCase="'edit'"  [column]="attr" [widgetValue]="widgetValue"  [mode]="mode" (widgetValueChange)="changeval($event)"></w-edit>
  <w-password *ngSwitchCase="'password'"  [widgetValue]="widgetValue"  [mode]="mode" (widgetValueChange)="changeval($event)"></w-password>
  <w-date *ngSwitchCase="'date'"  [attr]="attr" [widgetValue]="widgetValue" [mode]="mode" (widgetValueChange)="changeval($event)"></w-date>
  <w-textarea *ngSwitchCase="'textarea'"  [attr]="attr" [widgetValue]="widgetValue" [mode]="mode" (widgetValueChange)="changeval($event)"></w-textarea>
  <w-number 
    *ngSwitchCase="'number'"
    [column]="attr"
    [widgetValue]="widgetValue"
    [mode]="mode" 
    (widgetValueChange)="changeval($event)">
  </w-number>
  <w-boolean *ngSwitchCase="'boolean'"  [attr]="attr" [widgetValue]="widgetValue"  [mode]="mode" (widgetValueChange)="changeval($event)"></w-boolean>
  <w-point *ngSwitchCase="'point'"  [attr]="attr" [widgetValue]="widgetValue"  [mode]="mode" (widgetValueChange)="changeval($event)" [mapId]="'maps_front-page-map'"></w-point>
  <w-line *ngSwitchCase="'line'"  [attr]="attr" [widgetValue]="widgetValue"  [mode]="mode" (widgetValueChange)="changeval($event)" [mapId]="'maps_front-page-map'"></w-line>
  <w-polygon *ngSwitchCase="'polygon'"  [attr]="attr" [widgetValue]="widgetValue"  [mode]="mode" (widgetValueChange)="changeval($event)" [mapId]="'maps_front-page-map'"></w-polygon>
  <w-select *ngSwitchCase="'select'"  [attr]="attr" [widgetValue]="widgetValue"  [mode]="mode" (widgetValueChange)="changeval($event)"></w-select>
  <w-classify *ngSwitchCase="'classify'"  [attr]="attr" [widgetValue]="widgetValue"  [mode]="mode" (widgetValueChange)="changeval($event)"></w-classify>
  <span *ngSwitchDefault>Default</span>
</ng-container>
