<ng-container [ngSwitch]="mode">    
  <div *ngSwitchCase="'forminput'">      
      <textarea class="form-control" id="{{attr.fieldname}}" type="text" name="{{attr.fieldname}}" [(ngModel)]="widgetValue" (blur)="onBlur()"></textarea>
  </div>
  <div *ngSwitchCase="'properites'">{{getvalue()}}</div>  
  <div *ngSwitchDefault>{{getvalue()}}</div>
</ng-container>