<ng-container [ngSwitch]="mode">    
  <div *ngSwitchCase="'forminput'"> 
    <gp-datatable [mode]="'readonly'" [datasetId]="100" (curenttable)="changetab($event)"></gp-datatable>    
  </div>
  <div *ngSwitchCase="'properites'">{{widgetValue}}</div>  
  <div *ngSwitchDefault>{{widgetValue}}</div>
</ng-container>