<div class="layout__menu" main-menu></div>
<div class="layout__map">
    <div style="width: 100%; height: 100%; z-index: -1000; background-image: url('/assets/map-is-temporary-disabled.png'); position: absolute; top: 0px; left: 0px;"></div>
    <div style="width: 100%; height: 100%;">
        <span #mapPlacement></span>
    </div>
</div>
<div class="layout__content">   
    <gp-tablelist></gp-tablelist>
</div>
