<gp-static-page-layout>
  <form>
    <div class="container">
      <div class="row">
        <div class="col">
          <h3 *ngIf="id <= 0">Create Services and scenarios catalog item</h3>
          <h3 *ngIf="id > 0">Update {{ name }}
            <button routerLink="/services-manager/run/{{ id }}" type="button" class="btn btn-sm">
              <i class="fa fa-play"></i> Run</button>
            <span class="badge badge-info" *ngIf="type === 'service_wps'">WPS service</span>
            <span class="badge badge-info" *ngIf="type === 'scenario'">JavaScript scenario</span>
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Name</label>
            <input type="text" [(ngModel)]="name" (ngModelChange)="generateTextualIdentifier($event)" name="name" class="form-control"
              placeholder="My service">
            <input type="text" [ngModel]="textualIdentifier" name="textualIdentifier" readonly class="form-control" placeholder="myservice">
            <small class="form-text text-muted">The disabled field will be used as an internal identifier</small>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label>Description</label>
            <textarea [(ngModel)]="description" name="description" class="form-control" placeholder="Description" style="height: 95px;"></textarea>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label>MapReduce specification</label>
            <textarea [(ngModel)]="mapReduceSpecification" name="mapReduceSpecification" class="form-control" placeholder="MapReduce specification"
              style="height: 95px;"></textarea>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="id === -1">
        <div class="col">
          <label>Type of registered Catalog item </label>
        </div>
        <div class="col">
          <div class="form-check form-check-inline" *ngFor="let localType of types">
            <label class="form-check-label">
              <input class="form-check-input" (change)="onTypeChange($event)" type="radio" name="type" value="{{ localType.id }}">{{ localType.title }}
            </label>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="!type">
        <div class="col text-center">
          <div class="alert alert-info" role="alert">
            The Catalog item editing form will be available after selectiing the Type of item
          </div>
        </div>
      </div>
      <!-- JavaScript scenario editing -->
      <div class="row scenario-container" *ngIf="type === 'scenario'">
        <div class="col">
          <div class="container section-scenario">
            <div class="row" style="padding-top: 10px;">
              <div class="col">
                <h4>Input parameters
                  <button class="btn btn-primary btn-sm" type="button" (click)="addSampleParameter($event, 'input')">
                    <i class="fa fa-plus" aria-hidden="true"></i> Add parameter
                  </button>
                </h4>
                <catalog-item-parameter *ngFor="let parameter of inputParameters; index as i;" [parameter]="parameter" (onParameterDelete)="onParameterDelete($event, 'input', i)"
                  (onParameterChange)="onParameterChange($event, 'input', i)" [type]="type"></catalog-item-parameter>
              </div>
            </div>
            <div class="row" style="padding-top: 10px;">
              <div class="col">
                <h4>Output parameters
                  <button class="btn btn-primary btn-sm" type="button" (click)="addSampleParameter($event, 'output')">
                    <i class="fa fa-plus" aria-hidden="true"></i> Add parameter
                  </button>
                </h4>
                <catalog-item-parameter *ngFor="let parameter of outputParameters; index as i;" [parameter]="parameter" (onParameterDelete)="onParameterDelete($event, 'output', i)"
                  (onParameterChange)="onParameterChange($event, 'output', i)" [type]="type"></catalog-item-parameter>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label>Enter the scenario code</label>
                <div ace-editor [(text)]="scenarioCode" [theme]="'eclipse'" [mode]="'javascript'" style="min-height: 200px; width:100%; overflow: auto;"></div>
              </div>
            </div>
            <div class="row" *ngIf="parametersAreFilledUp()" style="padding-top: 10px;">
              <div class="col" *ngIf="id === -1">
                <button type="button" [disabled]="!(textualIdentifier.length > 0 && description.length > 0 && parametersAreFilledUp())" (click)="register($event)"
                  class="btn btn-primary btn-block">
                  <i class="fa fa-floppy-o" aria-hidden="true"></i> Save JavaScript scenario</button>
              </div>
              <div class="col" *ngIf="id > 0">
                <button type="button" [disabled]="!(textualIdentifier.length > 0 && description.length > 0 && parametersAreFilledUp())" (click)="update($event)"
                  class="btn btn-primary btn-block">
                  <i class="fa fa-floppy-o" aria-hidden="true"></i> Update JavaScript scenario</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- WPS service editing -->
      <div class="row service_wps-container" *ngIf="type === 'service_wps'">
        <div class="col">
          <div class="container section-service_wps">
            <div class="row">
              <div class="col">
                <div class="form-inline">
                  <label class="mr-sm-2">Add servers with service</label>
                  <label class="mr-sm-2">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="host" name="host" placeholder="Host (myhostname.com)">
                  </label>
                  <label class="mr-sm-1">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="port" name="port" placeholder="Port (8080)">
                  </label>
                  <label class="mr-sm-2">
                    <div class="input-group">
                      <input type="text" class="form-control form-control-sm" [(ngModel)]="path" name="path" placeholder="WPS server path">
                      <span class="input-group-btn">
                        <button class="btn btn-secondary btn-sm" type="button" placement="top" ngbPopover="Provide the path to WPS server, for example, '/cgi-bin/wps/zoo_loader.cgi?'"
                          popoverTitle="WPS server path">?</button>
                      </span>
                    </div>
                  </label>
                  <label class="mr-sm-1">
                    <button type="submit" class="btn btn-primary btn-sm" [disabled]="!(host && port && path && path !== 0)" (click)="addServiceServer($event)">
                      <i class="fa fa-plus" aria-hidden="true"></i> Add</button>
                  </label>
                  <label class="mr-sm-1">
                    <button type="button" *ngIf="id === -1" class="btn btn-primary btn-sm" [disabled]="servers.length === 0" (click)="fetchServices($event)">
                      <span *ngIf="servers.length === 0">Enter at least one services server</span>
                      <span *ngIf="servers.length > 0">
                        <i class="fa fa-refresh" aria-hidden="true"></i> Fetch the list of available services</span>
                    </button>
                  </label>
                </div>
              </div>
            </div>
            <div class="row services_server-container">
              <div class="col" *ngIf="servers.length !== 0">
                <div class="services_server-container__item" *ngFor="let server of servers">
                  {{server.host + ':' + server.port + server.path}}
                  <button type="button" class="btn btn-outline-primary btn-sm" (click)="deleteServicesServer($event, index)">
                    <i class="fa fa-times"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="row" style="padding: 5px;" *ngIf="id === -1">
              <div class="col text-center">
                <p *ngIf="availableServices.length === 0">The list of WPS services will be fetched from the
                  <strong>first</strong> available WPS server defined above</p>
              </div>
            </div>
            <div class="row" *ngIf="availableServices.length > 0">
              <div class="col">
                <div class="form-inline">
                  <label class="mr-sm-2">
                    <label>Available services</label>
                  </label>
                  <label class="mr-sm-2">
                    <select class="form-control" (change)="fetchServiceParameter($event.target.value)">
                      <option value="null">Choose one of the available services</option>
                      <option *ngFor="let service of availableServices" value="{{service.identifier}}">{{ service.title }}</option>
                    </select>
                  </label>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="inputParameters.length > 0" style="padding-top: 10px;">
              <div class="col">
                <h4>Input parameters</h4>
                <catalog-item-parameter *ngFor="let parameter of inputParameters; index as i;" [parameter]="parameter" (onParameterDelete)="onParameterDelete($event, 'input', i)"
                  (onParameterChange)="onParameterChange($event, 'input', i)" [type]="type"></catalog-item-parameter>
              </div>
            </div>
            <div class="row" *ngIf="outputParameters.length > 0">
              <div class="col">
                <h4>Output parameters</h4>
                <catalog-item-parameter *ngFor="let parameter of outputParameters; index as i;" [parameter]="parameter" (onParameterDelete)="onParameterDelete($event, 'output', i)"
                  (onParameterChange)="onParameterChange($event, 'output', i)" [type]="type"></catalog-item-parameter>
              </div>
            </div>
            <div class="row" *ngIf="parametersAreFilledUp()">
              <div class="col" *ngIf="id === -1">
                <button type="button" [disabled]="!(textualIdentifier.length > 0 && description.length > 0 && servers.length > 0 && parametersAreFilledUp())"
                  (click)="register($event)" class="btn btn-primary btn-block">
                  <i class="fa fa-floppy-o" aria-hidden="true"></i> Save WPS service</button>
              </div>
              <div class="col" *ngIf="id > 0">
                <button type="button" [disabled]="!(textualIdentifier.length > 0 && description.length > 0 && servers.length > 0 && parametersAreFilledUp())"
                  (click)="update($event)" class="btn btn-primary btn-block">
                  <i class="fa fa-floppy-o" aria-hidden="true"></i> Update WPS service</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <ng-template #content let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Catalog was updated</h4>
    </div>
    <div class="modal-body">
      <a class="btn btn-primary btn-block" routerLink="/services-manager/run/{{ (this.retrievedId === -1) ? this.id : this.retrievedId }}">Launch
        <span *ngIf="this.type === 'service_wps'">service</span>
        <span *ngIf="this.type === 'scenario'">scenario</span>
      </a>
      <a *ngIf="this.retrievedId !== -1" class="btn btn-primary btn-block" routerLink="/services-manager/edit/{{ this.retrievedId }}">Back to editing</a>
      <a *ngIf="this.retrievedId === -1" class="btn btn-primary btn-block" (click)="d()" style="color: white;">Back to editing</a>
    </div>
  </ng-template>
</gp-static-page-layout>