.catalog-item-container {
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.service_wps-container {
  @extend .catalog-item-container;
  border: 1px solid #66ccff;
}

.scenario-container {
  @extend .catalog-item-container;
  border: 1px solid #3e4ec9;
}

.services_server-container {
  padding-top: 5px;
}

.services_server-container__item {
  border: 1px solid #66ccff;
  padding: 5px;
  border-radius: 5px;
  float: left;
  margin-right: 5px;
}
