<div class="toolbars btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
  <div class="toolbars__main-toolbar btn-group" *ngIf="mode!='readonly'">
    <button type="button" class="btn btn-secondary" (click)="addRow()">
      <i class="fa fa-plus-square" aria-hidden="true"></i>
    </button>
    <button type="button" class="btn btn-secondary">
      <i class="fa fa-clone" aria-hidden="true"></i>
    </button>
    <button type="button" class="btn btn-secondary">
      <i class="fa fa-minus-square " aria-hidden="true"></i>
    </button>
  </div>
  <div class="toolbars__secondary-toolbar btn-group">
    <button type="button" class="btn" (click)="toggleAggregationBarVisible()">
      <i class="fa fa-code-fork" aria-hidden="true"></i>
      Aggregation
    </button>
    <button type="button" class="btn" (click)="toggleFilteringBarVisible()">
      <i class="fa fa-filter" aria-hidden="true"></i>
      Filtering
    </button>
  </div>
</div>

<div class="table-responsive">
  <table class="geoportal__table table table-striped table-sm table-hover" *ngIf="showTable()">
    <thead class="thead-light">
      <ng-container *ngFor="let column of table.meta.columns">
        <th class="geoportal-table__header" *ngIf="column.visible">
          {{ column.title }}
          <i (click)="changeOrder(column)" class="geoportal-table__header-label fa" [ngClass]="column.sortingOrder.className" aria-hidden="true"></i>
        </th>
      </ng-container>
      <ng-container *ngIf="mode != 'readonly'">
        <th></th>
        <th></th>
      </ng-container>
    </thead>

    <thead class="thead-light" *ngIf="showFiltering()">
      <ng-container *ngFor="let column of table.meta.columns">
        <th class="align-top" *ngIf="column.visible">
          <w-filter [column]="column" (filterChange)="onChangeFilter($event)">
          </w-filter>
        </th>
      </ng-container>
      <th></th>
      <th></th>
    </thead>

    <thead class="thead-light" *ngIf="showAggregation()">
      <ng-container *ngFor="let column of table.meta.columns">
        <th *ngIf="column.visible">f</th>
      </ng-container>
    </thead>
    <tbody *ngIf="table.data !== undefined">
      <tr *ngFor="let row of table.data.aaData" (click)="onRowClicked(row)" [class.table-primary]="row === currentRow">
        <ng-container *ngFor="let column of table.meta.columns">
          <td *ngIf="column.visible">
            <widget [attr]="column" [widgetValue]="row[column.fieldname]" [mode]="'view'">
            </widget>
          </td>
        </ng-container>
        <ng-container *ngIf="mode!='readonly'">
          <td>
            <button type="button" class="btn btn-secondary" (click)="editRow(row)">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
          </td>

          <td>
            <button type="button" class="btn btn-danger" (click)="deleteRow(row)">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </td>
        </ng-container>
      </tr>
    </tbody>
    <tbody *ngIf="table.data === undefined">
      Table data is undefined.
    </tbody>
  </table>
</div>

<div class="table-pagination">
  <div class="table-pagination__limit">
    <ul class="pagination">
      <li class="page-item" [class.active]="table.pageSize==5" (click)="changePageSize(5)">
        <a class="page-link" href="#">5</a>
      </li>
      <li class="page-item" [class.active]="table.pageSize==10" (click)="changePageSize(10)">
        <a class="page-link" href="#">10</a>
      </li>
      <li class="page-item" [class.active]="table.pageSize==25" (click)="changePageSize(25)">
        <a class="page-link" href="#">25</a>
      </li>
      <li class="page-item" [class.active]="table.pageSize==50" (click)="changePageSize(50)">
        <a class="page-link" href="#">50</a>
      </li>
      <li class="page-item" [class.active]="table.pageSize==100" (click)="changePageSize(100)">
        <a class="page-link" href="#">100</a>
      </li>
    </ul>
  </div>
  <div class="table-pagination__pages">
    <ngb-pagination [collectionSize]="table.collectionSize" [page]="table.page" [pageSize]="table.pageSize" (pageChange)="onPageChanged($event)">
    </ngb-pagination>
  </div>
</div>