<w-date [attr]="attr" [widgetValue]="curentval1"  [mode]="mode" (widgetValueChange)="changeval1($event)"></w-date>-
<w-date [attr]="attr" [widgetValue]="curentval2"  [mode]="mode" (widgetValueChange)="changeval2($event)"></w-date>
<button type="button" class="btn" (click)="addcondition()">+</button>
<div>
  <ng-container *ngFor="let val of widgetValue">
      <div (click)="deleteitem(val)">
        {{val.v1  | date:'dd.MM.yyyy'}} - {{val.v2  | date:'dd.MM.yyyy'}}
      </div>
  </ng-container>
</div>