<ng-container [ngSwitch]="mode">    
  <div *ngSwitchCase="'forminput'">
    <input [ngModel]="widgetValue | date:'yyyy-MM-dd'"  type="date" (ngModelChange)="onChange($event)"/>
  </div>
  <div *ngSwitchCase="'properites'">{{getValue()}}</div>  
  <div *ngSwitchDefault>{{widgetValue | date:'dd.MM.yyyy'}}</div>
</ng-container>