  <div class="modal-header">
    <h4 class="modal-title">Record editing </h4>
    <button type="button" class="close" aria-label="Close" (click)="docCancel()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <!-- Старый компонент begin -->
          <form>  
            <ng-container *ngFor="let attr of meta.columns">
              <div class="form-group" *ngIf="attr.visible">
                <label for="{{attr.fieldname}}">{{attr.title}}</label>
                <widget [attr]="attr" [(widgetValue)]="this.doc[attr.fieldname]" [mode]="'forminput'"></widget>
              </div>
            </ng-container>
            <!-- Старый компонент end -->  
          </form>
        </div>
        <div class="col-md-6">
          <span #mapPlacement></span>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="docCancel()">Close</button>
    <button type="button" class="btn btn-primary" (click)="docSubmit()">Save changes</button>    
     <!-- оригинальная -->
    <!-- <button type="submit" (click)="docSubmit()" class="btn btn-success">Submit</button>  -->
  </div>