<div class="modal-header">
  <h4 class="modal-title">Table model </h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
    <span [ngClass]="{'trailactive': step==1}">Initial</span> &gt;&gt;
    <span [ngClass]="{'trailactive': step==2}">General</span> &gt;&gt;
    <span [ngClass]="{'trailactive': step==3}">Columns</span> &gt;&gt;
    <span [ngClass]="{'trailactive': step==4}">Rights</span>

    <div class="alert alert-danger" *ngIf="errorMsg!=''">{{errorMsg}}</div>
    <ng-container [ngSwitch]="step">
      <ng-container *ngSwitchCase="'1'">
        <div class="form-group">
          <label>
            <input name="newtable" type="radio" [(ngModel)]="newtable" [value]="true"> New table
          </label>
          <br/>
          <label>
            <input name="newtable" type="radio" [(ngModel)]="newtable" [value]="false"> Existing table
          </label>
        </div>
        <div class="alert alert-danger" *ngIf="tryselectingtable && !this.newtable && !this.selectedtable">You must select a table.</div>
        
        <w-table *ngIf="!newtable" [mode]="'forminput'" (widgetValueChange)="changetab($event)"></w-table>
      </ng-container>
      <ng-container *ngSwitchCase="'2'">
        <div class="form-group">
            <div class="alert alert-danger" *ngIf="validating && (!meta.title || !meta.title.length>0)">You must specify Table name.</div>
          <label for="tablename">Table name</label>
          <input type="text" class="form-control" name="tablename" [(ngModel)]="meta.title" required minlength="5" maxlength="30"/>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea type="text" class="form-control" name="description" [(ngModel)]="meta.description" rows="3" cols="100"></textarea>
        </div>
      </ng-container>
      <div *ngSwitchCase="'3'">
        <div class="alert alert-danger" *ngIf="validating && (!meta.columns || !meta.columns.length>0)">You must add one or more columns.</div>

        <button type="button" class="btn btn-secondary" (click)="addcolumn()">
          <i class="fa fa-plus-square" aria-hidden="true"></i>
        </button>
        <ul class="geoportal__table table table-striped table-sm table-hover table-responsive">

          <ng-container *ngFor="let column of meta.columns">
            <li class="geoportal-table__header" *ngIf="column.title">
              <div class="row">
                <div class="col-4">
                  <a href="#" *ngIf="!column.edit" (click)="editcolumn(column)">{{ column.title }} </a>
                  <input *ngIf="column.edit" type="text" class="form-control" name="column.title" value="{{column.title}}" (blur)="savetitlecolumn($event)"
                    (change)="savetitlecolumn($event)" />
                </div>
                <div class="col-4">
                  <label for="widgetSelect"> Widget:</label>
                  <select name="widgetSelect" (change)="savewidgetcolumn($event, column )">
                    <ng-container *ngFor="let w of widgets">
                      <option *ngIf="w.id==column.widget.name" selected value="w.id"> {{w.name}} </option>
                      <option *ngIf="w.id!=column.widget.name" [value]="w.id"> {{w.name}} </option>
                    </ng-container>
                  </select>
                  <i class="fa fa-asterisk" aria-hidden="true" (click)="detail(column)"></i>
                </div>
                <div class="col-2">
                  <button type="button" class="btn btn-danger" (click)="deletecolumn(column)">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
              <div *ngIf="column.propertyediting" class="row detail">
                <div class="form-group">
                  <label>
                      <input type="checkbox" name="required" [(ngModel)]="column.required">
                      Is required
                  </label>
                </div>
                <div class="form-group">
                    <label>
                        <input type="checkbox" name="required" [(ngModel)]="column.visible">
                        Is visible
                    </label>
                  </div>
                  <widget [attr]="column" [mode]="'properites'"></widget>
              </div>
            </li>
          </ng-container>
        </ul>
      </div>
      <div *ngSwitchCase="'4'">
          <div *ngFor="let rightholder of meta.userlist">
              userid: {{rightholder.userid}} <br/>accesstype: {{rightholder.accesstype}}
          </div>
      </div>
    </ng-container>
  </form>
</div>
<div class="modal-footer">
  <button *ngIf="step>1" type="button" class="btn btn-primary" (click)="prev()">Prev</button>
  <button type="button" class="btn btn-primary" (click)="next()">Next</button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
  <button type="submit" class="btn btn-secondary" (click)="modelSubmit()" >Save model</button>
</div>