<div class="menu-container">
  <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <a href="/" class="navbar-brand">Geoportal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar6">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar6">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <div ngbDropdown class="d-inline-block">
            <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>Services manager</a>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <a class="dropdown-item" routerLink="/service-manager">Browse</a>
              <a class="dropdown-item" routerLink="/service-manager/create">Register service or scenario</a>
            </div>
          </div>
        </li>
      </ul>
      <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
        <li class="nav-item">
          <a *ngIf="!currentUser" class="btn btn-primary" routerLink="/register">Register</a>
          <button *ngIf="!currentUser" type="button" class="btn btn-outline-primary" (click)="open(content)">Log in</button>
          <form *ngIf="currentUser" class="form-inline">
            <label>Hello, {{ currentUser.name }}</label>
            <button type="button" class="btn btn-outline-primary" (click)="logout()">Log out</button>
          </form>
        </li>
      </ul>
    </div>
  </nav>
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Login to Geoportal</h4>
      <button type="button" class="close" aria-label="Close" (click)="d()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #f="ngForm" novalidate>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Login</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" placeholder="mylogin" [(ngModel)]="model.login" name="login" [ngClass]="{'is-invalid': error}"
              required>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Password</label>
          <div class="col-sm-8">
            <input type="password" class="form-control" placeholder="abc123!" [(ngModel)]="model.password" name="password" [ngClass]="{'is-invalid': error}"
              required>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 text-center" style="padding-bottom: 10px;">
            <a href="#">Forgot password?</a>
          </div>
        </div>
        <div>
          <button type="button" [disabled]="!model.login || model.login.length === 0 || !model.password || model.password.length < 6 || loading"
            class="btn btn-primary" style="width: 100%;" (click)="login()">
            <span *ngIf="loading">Loading...</span>
            <span *ngIf="!loading">Login</span>
          </button>
        </div>
      </form>
    </div>
  </ng-template>
</div>