<div style="border-top: 1px solid #eaebed; padding: 10px;">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="form-group row">
            <label class="col-sm-3">Identifier</label>
            <input class="col-sm-9 form-control" type="text" (blur)="onModelChange($event)" name="identifier" [(ngModel)]="identifier" [readonly]="type === 'service_wps'"/>
          </div>
          <div class="form-group row">
            <label class="col-sm-3">Title</label>
            <input class="col-sm-9 form-control" type="text" (blur)="onModelChange($event)" name="title" [(ngModel)]="title" />
          </div>
          <div class="form-group row">
            <label class="col-sm-3">Description</label>
            <textarea class="col-sm-9 form-control" name="description" (blur)="onModelChange($event)" [(ngModel)]="description"></textarea>
          </div>
        </div>
        <div class="col">
          <div *ngIf="type === 'scenario'" style="float: right;">
            <button type="button" class="btn btn-sm btn-danger" (click)="onDelete($event)">
              <i class="fa fa-remove" aria-hidden="true"></i> Delete parameter
            </button>
          </div>
          <label>Widget</label>
          <div class="alert alert-danger" role="alert">
            <strong>@todo</strong> Not implemented yet
          </div>
        </div>
      </div>
    </div>
  </div>