<ng-container [ngSwitch]="_mode">
  <div *ngSwitchCase="'forminput'">
    <div *ngIf="editingIsEnabled">
      <input class="form-control" id="{{attr.fieldname}}" type="text" 
        name="{{attr.fieldname}}" [(ngModel)]="_ownValue" (blur)="onWidgetValueChanged();"/>
    </div>
    <div *ngIf="!editingIsEnabled">
      <div placement="top" ngbTooltip="{{ _ownValue }}" (dblclick)="enableFormInput($event)">
        <span class="badge badge-secondary" placement="top" ngbTooltip="Double-click to edit on map"><i class="fa fa-question" aria-hidden="true"></i></span>
        {{ ownValue }}
      </div>
    </div>
  </div>
  <div *ngSwitchDefault placement="top" ngbTooltip="{{ _ownValue }}">{{ ownValue }}</div>
</ng-container>