<w-edit 
  [column]="column" 
  [mode]="mode" 
  [widgetValue]="currentVal"  
  (widgetValueChange)="addItem($event)">
</w-edit>
<div class="f-edit__item-list">
  <ng-container *ngFor="let value of column.filterValueList">
      <div class="f-edit__item" (click)="removeItem(value)">
        {{value}}        
      </div>
  </ng-container>
</div>
