<gp-static-page-layout>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Services manager</h1>
        <div></div>
        <div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of servicesAndScenarios">
                <th>{{ item.id }}</th>
                <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
                <td>
                  <div class="btn-group" role="group" aria-label="Basic example">
                    <button title="Edit the catalog item" routerLink="/services-manager/edit/{{ item.id }}" type="button" class="btn"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
                    <button title="Run the catalog item" routerLink="/services-manager/run/{{ item.id }}" type="button" class="btn"><i class="fa fa-play" aria-hidden="true"></i> Run</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</gp-static-page-layout>