<gp-static-page-layout>
  <div class="container">
    <div class="loading-overlay-container" *ngIf="activationStatusReceived === false"></div>
    <div class="row">
      <div class="col-md-12" *ngIf="activationStatusReceived">
        <div style="text-align: center; padding: 40px;">
            <h2 *ngIf="successfullActivation">
              <i class="fa fa-check" aria-hidden="true" style="color: green;"></i> User account was activated, please log in
            </h2>
          <h2 *ngIf="successfullActivation === false">
            <i class="fa fa-remove" aria-hidden="true" style="color: red;"></i> Activation link is invalid
          </h2>
        </div>
      </div>
      <div class="col-md-12" *ngIf="activationStatusReceived === false">
          <div style="text-align: center; padding: 40px;">
            <h2><i class="fa fa-refresh" aria-hidden="true" style="color: orange;"></i> Activating user account</h2>
          </div>
        </div>
    </div>
  </div>
</gp-static-page-layout>
