<div class="modal-header">
  <h4 class="modal-title">Table list </h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>     
    <w-table [mode]="'forminput'" (widgetValueChange)="changecurentval($event)" ></w-table>  
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
  <button type="button" class="btn btn-primary" (click)="docSubmit()">Open table</button>
  <!-- <button type="button" class="btn btn-outline-dark" (click)="yesAnswer()">Yes</button>
  <button type="button" class="btn btn-outline-dark" (click)="noAnswer()">No</button>   -->
</div>