<ng-container [ngSwitch]="mode">    
  <div *ngSwitchCase="'forminput'">      
    <div class="input-group">
      <input class="form-control" [ngClass]="{'is-invalid': passwordsDoNotMatch || passwordHasWrongFormat}" type="{{ inputType }}" name="passwordTry1" [(ngModel)]="passwordTry1" (blur)="onBlur()"/>
      <input class="form-control" [ngClass]="{'is-invalid': passwordsDoNotMatch || passwordHasWrongFormat}" type="{{ inputType }}" name="passwordTry2" [(ngModel)]="passwordTry2" (blur)="onBlur()"/>
      <div class="input-group-append">
        <button type="button" class="btn btn-primary" (click)="changeInputType($event)">
          <i *ngIf="inputType === 'password'" aria-hidden="true" class="fa fa-eye" title="Show password"></i>
          <i *ngIf="inputType === 'text'" aria-hidden="true" class="fa fa-eye-slash" title="Hide password"></i>
        </button>
      </div>
    </div>
    <div>
      <div *ngIf="passwordsDoNotMatch" class="error-message">Passwords do not match</div>
      <div *ngIf="passwordHasWrongFormat" class="error-message">Password is too weak</div>
    </div>
  </div>
  <div *ngSwitchCase="'properites'">{{getvalue()}}</div>  
  <div *ngSwitchDefault>{{getvalue()}}</div>
</ng-container>