<div class="f-number__item-list">
  <ng-container *ngFor="let filter of column.filterValueList">
    <div class="f-number__item" (click)="removeItem(filter)">
      <ng-container *ngIf="onlyLeft(filter)">
        <i class="fa fa-info-circle"></i>
        <gp-sign [sign]="filter.signOptionLeft"></gp-sign>
        {{ filter.valueLeft }}
      </ng-container>
      <ng-container *ngIf="onlyRight(filter)">
        <i class="fa fa-info-circle"></i>
        <gp-sign [sign]="filter.signOptionRight"></gp-sign>
        {{ filter.valueRight }}
      </ng-container>
      <ng-container *ngIf="both(filter)">
        {{ filter.valueLeft }}
        <gp-sign [sign]="filter.signOptionLeft" position="right"></gp-sign>
        <i class="fa fa-info-circle"></i>
        <gp-sign [sign]="filter.signOptionRight"></gp-sign>
        {{ filter.valueRight }}
      </ng-container>
    </div>
  </ng-container>
</div>
<button class="btn btn-outline-primary" (click)="addItem()">Add filter</button>