<ng-container [ngSwitch]="mode">    
  <div *ngSwitchCase="'forminput'">
      <select class="form-control" id="{{attr.fieldname}}" type="text" name="{{attr.fieldname}}" [(ngModel)]="widgetValue" #t (change)="change(t.value)">
        <option *ngFor="let obj of values" [value]="obj.value">{{obj.name}}</option>
      </select>
      </div>
  <div *ngSwitchCase="'properites'">{{getvalue()}}</div>  
  <div *ngSwitchDefault>{{getvalue()}}</div>
</ng-container>