<gp-static-page-layout>
  <div class="container">
    <div class="row">
      <div class="col-md-12" *ngIf="registered">
        <div style="text-align: center; padding: 40px;">
          <h2>
            <i class="fa fa-check" aria-hidden="true" style="color: green;"></i> Email with activation link was sent to specified email</h2>
          <p>Please click the link in email. If you do not see the email in your inbox, please check the Spam folder.</p>
        </div>
      </div>
      <div class="col-md-12" *ngIf="registered === false">
        <app-doc-form [meta]="userTableMeta" (onSuccessfullSubmition)="onSuccessfulRegistration($event)"></app-doc-form>
      </div>
    </div>
  </div>
</gp-static-page-layout>