<gp-static-page-layout>
  <form *ngIf="catalogItem">
    <div class="container">
      <div class="row">
        <div class="col">
          <h3>Run the {{ catalogItem.name }}
            <button routerLink="/services-manager/edit/{{ catalogItem.id }}" type="button" class="btn btn-sm">
              <i class="fa fa-pencil"></i> Edit</button>
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="container">
            <form>
              <div *ngFor="let item of catalogItem.inputParameters; let i = index" class="form-group row">
                <label class="col-sm-2 col-form-label label-required">{{ item.title }}</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" [(ngModel)]="inputValues[i]" [readonly]="running" name="input_field_{{i}}" placeholder="Enter the {{ item.title }} value">
                </div>
              </div>
              <hr/>
              <div *ngFor="let item of catalogItem.outputParameters; let i = index" class="form-group row">
                <label class="col-sm-2 col-form-label">{{ item.title }}</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" [(ngModel)]="outputValues[i]" [readonly]="running" name="output_field_{{i}}" placeholder="Enter the {{ item.title }} value">
                </div>
              </div>
              <hr/>
              <div class="form-group row">
                <div class="col-sm-4">
                  <button type="button" class="btn btn-block btn-primary" (click)="run($event)" [disabled]="running || !inputParametersAreReady()">
                    <i class="fa fa-play"></i> Run
                  </button>
                </div>
                <div class="col-sm-4">
                  <button type="button" class="btn btn-block btn-primary" (click)="stop($event)" [disabled]="!running">
                    <i class="fa fa-stop"></i> Stop
                  </button>
                </div>
                <div class="col-sm-4">
                  <button type="button" class="btn btn-block btn-primary" (click)="clear($event)" [disabled]="running">
                    <i class="fa fa-remove"></i> Clear
                  </button>
                </div>
              </div>
              <div class="form-group row" *ngIf="catalogItemStatus !== 'RUN_STATUS_NULL'">
                <div class="col-sm-12">
                  <div class="alert alert-success" role="alert" *ngIf="catalogItemStatus === 'RUN_STATUS_SUCCEEDED'" style="overflow: scroll;">
                    {{ catalogItemRunResult }}
                  </div>
                  <div class="alert alert-primary" role="alert" *ngIf="catalogItemRunSTDOUT.length > 0" style="overflow: scroll;">
                    <p *ngFor="let item of catalogItemRunSTDOUT">{{ item.datetime | date:'mediumTime' }}: {{ item.content }} </p>
                  </div>
                  <div class="alert alert-danger" role="alert" *ngIf="catalogItemStatus === 'RUN_STATUS_FAILED'" style="overflow: scroll;">
                    <p *ngFor="let item of catalogItemRunSTDERR">{{ item.datetime | date:'mediumTime' }}: {{ item.content }}</p>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </form>
</gp-static-page-layout>