<ng-container [ngSwitch]="mode">
  <div *ngSwitchCase="'forminput'">111113333
    <ng2-completer [(ngModel)]="strwidgetValue" [datasource]="customData" [minSearchLength]="3" [inputClass]="'form-control'"
      [placeholder]="''" (selected)="widgetValueSubmitted($event)" [textSearching]="'Please wait...'">
    </ng2-completer>

  </div>
  <div *ngSwitchCase="'properites'">
    {{attr.widget.properties.reftablename}}
    <w-table [mode]="'forminput'" [widgetValue]="attr.widget.properties.dataset_id" (widgetValueChange)="changedataset($event)"></w-table>

    <div class="form-group">
      <label for="tablename">Widget type</label>
      <w-select [attr]="{fieldname:'control_type',widget:{properties:{options:'autoselect:autocomplete;select:select;radio:radio'}}}"
        [widgetValue]="attr.widget.properties.control_type" [mode]="'forminput'" (widgetValueChange)="setcontrol_type($event)"></w-select>
    </div>

    <div class="form-group">
      <ng-container *ngFor="let col of refMeta.columns">
        <input type="checkbox" *ngIf="col.title && col.title!=''" name="tc" [ngModel]="col.checked" (change)="changeRefColumn(col)">{{col.title}}
      </ng-container>
    </div>

  </div>
  <div *ngSwitchDefault>{{strwidgetValue}}</div>

</ng-container>