<div leaflet id="maps_front-page-map"
[leafletLayers]="layers"
  [leafletLayersControl]="layersControl"
  [leafletOptions]="options"
  [leafletZoom]="zoom"
  [leafletCenter]="center"
  (leafletMapReady)="onMapReady($event)"
  [ngStyle]="{'height': '100%'}">
  <div *ngIf="drawingIsEnabled"
    leafletDraw
    featureGroup="featureGroup"
    [leafletDrawOptions]="drawOptions"></div>
</div>