<ng-container [ngSwitch]="mode">    
    <div *ngSwitchCase="'forminput'"> 
        <select name="{{attr.fieldname}}" class="form-control" (change)="widgetValueSubmitted($event)">
          <ng-container *ngFor="let v of valueList">
            <option *ngIf="v.id==widgetValue" selected value="v.id"> {{v.name}} </option>
            <option *ngIf="v.id!=widgetValue" [value]="v.id"> {{v.name}} </option>
          </ng-container>
        </select>
        
   
    </div>
    <div *ngSwitchCase="'properites'">
        <input 
        type="text" 
        class="form-control"         
        name="{{attr.fieldname}}" 
        [(ngModel)]="attr.widget.properties.options"
        />
        

    </div>  
    <div *ngSwitchDefault>{{userValue}}</div>
    
  </ng-container>