<div class="content-header">  
    <div class="btn-toolbar justify-content-end">
        <div class="btn-group mr-2">
            <button type="button" class="btn" (click)="opentab()">
                <i class="fa fa-folder-open-o" aria-hidden="true"></i>
                Open
            </button>
            <button type="button" class="btn">
                <i class="fa fa-arrow-down" aria-hidden="true"></i>
                Load
            </button>
            <button type="button" class="btn">
                <i class="fa fa-print" aria-hidden="true"></i>
                Print
            </button>
            <button type="button" class="btn" (click)="openmodel()">
                <i class="fa fa-list" aria-hidden="true"></i>
                Structure
            </button>
            <button type="button" class="btn">
                CSV/PDF
            </button>
        </div>
    
        <div class="btn-group btn-group-sm">
            <button type="button" class="btn ">
                <i class="fa fa-window-minimize" aria-hidden="true"></i>
            </button>            
            <button type="button" class="btn ">
                <i class="fa fa-window-restore" aria-hidden="true"></i>
            </button>            
            <button type="button" class="btn ">
                <i class="fa fa-window-maximize " aria-hidden="true"></i>
            </button>            
        </div>
    </div>        
</div>

<ngb-tabset (tabChange)="onTabChange($event)" [destroyOnHide]="false">       
  <!-- <ng-container *ngFor="let table of tableList$|async|values">       -->
  <!-- <ng-container *ngFor="let table of datasetList|values">       -->
  <ng-container *ngFor="let datasetId of datasetList">      
        <!-- <ngb-tab title="Dynamic Table {{table.dataset_id}}" id="tab-datagrid-{{table.dataset_id}}"> -->
        <ngb-tab title="Dynamic Table {{datasetId}}" id="tab-datagrid-{{datasetId}}">
            <ng-template ngbTabContent>
                <div class="content-table">
                    <!-- <gp-datatable [dataSetId]="table.dataset_id"></gp-datatable> -->
                    <gp-datatable [datasetId]="datasetId"></gp-datatable>
                </div>
            </ng-template>
        </ngb-tab>
    </ng-container>       
</ngb-tabset>




