<div class="container">
  <div class="loading-overlay-container" *ngIf="loading"></div>
  <div class="row" *ngIf="serverError !== false">
    <div class="col-md-12">
      <div class="alert alert-danger" role="alert">{{ serverError }}</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1>Geoportal registration</h1>
      <p>Please fill all fields and submit the form. You will receive the <strong>email</strong> with the activation link.</p>
      <hr/>
      <form>
        <ng-container *ngFor="let attr of meta.columns">
          <div class="form-group" *ngIf="attr.visible">
            <label for="{{attr.fieldname}}">{{attr.title}}</label>
            <widget [attr]="attr" [(widgetValue)]="this.doc[attr.fieldname]" [mode]="'forminput'"></widget>
          </div>
        </ng-container>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6" >
      <button  type="button" class="btn btn-primary" (click)="docSubmit($event)">
        <i class="fa fa-save" ></i> <span *ngIf="mode === modes.ADD">Save</span><span *ngIf="mode === modes.UPDATE">Update</span>
      </button>
    </div>
    <div class="col-md-6">
      <button *ngIf="mode === modes.UPDATE" type="button" class="btn"><i class="fa fa-remove" aria-hidden="true"></i> Clear form</button>
    </div>
  </div>
  <div class="row" *ngIf="formDataIsComplete === false">
    <div class="col-md-12">
      <span class="error-message">Form data is incomplete</span>
    </div>
  </div>
</div>
