<ng-container [ngSwitch]="column.widget.name">
  <f-edit class="f-edit" 
    *ngSwitchCase="'edit'"  
    [column]="column" 
    [mode]="mode" 
    [widgetValue]="filterValue"  
    (valueChange)="passFilter($event)">
  </f-edit>
  <f-edit class="f-edit" 
    *ngSwitchCase="'textarea'"  
    [column]="column" 
    [mode]="mode" 
    [widgetValue]="filterValue" 
    (valueChange)="passFilter($event)">
  </f-edit>
  <f-number
    *ngSwitchCase="'number'"  
    [column]="column" 
    [mode]="mode" 
    [widgetValue]="filterValue"  
    (filterValueChange)="passFilter($event)">
  </f-number>
  <f-date 
    *ngSwitchCase="'date'"  
    [attr]="column" 
    [mode]="mode" 
    [widgetValue]="filterValue" 
    (valueChange)="changeVal($event)">
  </f-date>
  <w-boolean *ngSwitchCase="'boolean'"  
    [attr]="column" 
    [widgetValue]="filterValue"  
    [mode]="mode" 
    (valueChange)="changeVal($event)">
  </w-boolean>
  <span *ngSwitchDefault></span>
</ng-container>