/* You can add global styles to this file, and also import other style files */
html, body {
    width: 100%;
    height: 100%;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.label-required:after {
    content:"*";
    color:red;
}

.error-message {
    font-size: 12px;
    color: red;
}