<div class="modal-header">
  <h4 class="modal-title">Adding number filter</h4>
  <button type="button" class="close" aria-label="Close" (click)="cancelAnswer()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form [formGroup]="addingNumberFilter" novalidate>
  <div class="modal-body">
    <div class="form-inline">
      <span [class.invisible]="isSignEqualOnForm()">
        <input class="form-control ml-2" type="number" formControlName="valueLeft" autofocus>
        <select class="form-control ml-2" formControlName="signOptionLeft">
          <option value="{{signOptions.GreaterThanOrEqualTo}}">≤</option>
          <option value="{{signOptions.GreaterThan}}">&lt;</option>
        </select>
      </span>
      <div class="form-control-lg pt-2 ml-2">
        Value
        <i class="fa fa-info-circle"></i>
      </div>
      <select class="form-control ml-2" formControlName="signOptionRight">
        <option value="{{signOptions.LessThanOrEqualTo}}">≤</option>
        <option value="{{signOptions.LessThan}}">&lt;</option>
        <option value="{{signOptions.Equals}}">=</option>
        <option value="{{signOptions.NotEqualTo}}">≠</option>
      </select>
      <input class="form-control ml-2" type="number" formControlName="valueRight">
    </div>

    <div class="message message-invalid mt-2 p-2" *ngIf="addingNumberFilter.invalid && addingNumberFilter.touched">
        <div *ngIf="addingNumberFilter.hasError('leftIsGreater')">Left value must be less or equal than right one</div>
        <div *ngIf="addingNumberFilter.hasError('noValues')">Required value in left or right field</div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="cancelAnswer()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="okAnswer()" [disabled]="addingNumberFilter.invalid">Add</button>
  </div>
</form>