// input.ng-touched.ng-invalid {
//     border-color: #dc3545;
// }
// input.ng-touched.ng-valid {
//     border-color: #28a745;
// }

.message {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    &-valid {
        color: #28a745;
    }
    &-invalid {
        color: #dc3545;
    }
}