<ng-container [ngSwitch]="mode">
  <div *ngSwitchCase="'forminput'">
    <ng2-completer *ngIf="column.widget.properties.autocomplete" [(ngModel)]="widgetValue" [datasource]="customData" [minSearchLength]="3"
      [inputClass]="'form-control'" (selected)="widgetValueSubmitted()" (blur)="widgetValueSubmitted($event)"
      (keyup)="keyup($event)" [textSearching]="'Please wait...'">
    </ng2-completer>

    <input class="form-control" *ngIf="!column.widget.properties.autocomplete" ([ngModel])="widgetValue" type="text" (blur)="widgetValueSubmitted($event)" (keyup.enter)="widgetValueSubmitted($event)"/>

  </div>
  <div *ngSwitchCase="'properites'">
    <div class="form-group">
      <input type="checkbox" [checked]="column.widget.properties.autocomplete" (change)="column.widget.properties.autocomplete = !column.widget.properties.autocomplete">Autocomplete {{column.widget.properties.autocomplete}}
    </div>
    <ng-container *ngIf="column.widget.properties.autocomplete">
      {{column.widget.properties.dataset_id}}
      <w-table *ngIf="column.widget.properties.autocomplete" [mode]="'forminput'" (widgetValueChange)="changeautocompletedataset($event)"></w-table>
      <ng-container *ngFor="let col of refcolumns" >        
          <input *ngIf="col.title" name="options" ng-control="options" type="radio" [value]="col.fieldname"  [(ngModel)]="column.widget.properties.autocompletefield" >{{col.title}}<br/>
      </ng-container>
    </ng-container>

  </div>
  <div *ngSwitchDefault>{{widgetValue}}</div>

</ng-container>