<ng-container [ngSwitch]="mode">
  <div *ngSwitchCase="'forminput'">
    <input 
      type="number" 
      class="form-control" 
      id="{{column.fieldname}}" 
      name="{{column.fieldname}}" 
      [(ngModel)]="widgetValue" 
      (blur)="widgetValueSubmitted()"
      (keyup.enter)="widgetValueSubmitted()"
    />
  </div>
  <div *ngSwitchCase="'properites'">
    <div class="form-group">
      <label for="properties_before_{{column.fieldname}}">digits before</label>
      <input 
        type="number" 
        class="form-control" 
        name="properties_before_{{column.fieldname}}" 
        [(ngModel)]="column.widget.properties.before"
      />
    </div>
    <div class="form-group">
      <label for="properties_after_{{column.fieldname}}">digits after</label>
      <input 
        type="number" 
        class="form-control" 
        name="properties_after_{{column.fieldname}}" 
        [(ngModel)]="column.widget.properties.after"
      />
    </div>
  </div>
  <div *ngSwitchDefault>{{widgetValue}}</div>
</ng-container>